.form {
  width: 100%;
  padding: 2rem 0;
  gap: 2rem;
}

.formTitle {
  font-size: 3rem;
  color: #343a40;
  margin-bottom: 2rem;
}

.authorSelect {
  width: 100%;
  border: 1px solid #ced4da;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
