
.post {
  border: 1px solid #adb5bd;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.post:not(:last-child) {
  margin-bottom: 3rem;
}

.emojiContainer {
  display: flex;
  gap: 3rem;
}
.emojiRate {
  display: flex;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.emojiRate .number {
  font-size: 1.5rem;
  color: #343a40;
}

.emojiRate .emoji {
  font-size: 1.5rem;
}